body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(231, 231, 241), rgb(240, 231, 231));
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

h2 {
    color: navy;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: blue;
}

.hidden {
    display: none;
}
